@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

/* Cryptic Font & text BS */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", Arial, serif;
    font-weight: bold;
    color: white;
}

p {
    font-family: "Raleway", Arial, serif;
    font-weight: normal;
    color: white;
}

a {
    font-family: "Raleway", Arial, serif;
    color: white;
    font-size: 1.2rem;
}

html {
    background-color: #333;
}

/* background colors, etc */
body {
    margin: 0;
}

/* Header 1 */
h1 {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1.125;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

/* Header 2 */
h2 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
}

/* Header 3 */
h3 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.125;
}

/* Header 4 */
h4 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.125;
}

/* Header 5 */
h5 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.125;
}

/* Header 6 */
h6 {
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.125;
}

/* Paragraph */
p {
    margin-bottom: 0.5rem;
    font-weight: 400;
}

/* Don't ask why but this makes bold text work */
strong {
    color: white;
}

/* Turn margins back on cause CSS */

.margins {
    margin: 1rem;
}

/* Blackbox navbar shenangians */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(34, 34, 34);
    width: 100%
}

.navbar li {
    float: left;
}

.navbar li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 1rem 1.2rem;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: rgb(77, 77, 77);
    border-bottom: solid 3px palevioletred;
}

.navbar a.active {
    border-bottom: solid 3px palevioletred;
}