@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

/* Cryptic Font & text BS */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", Arial, serif;
    font-weight: bold;
    color: white;
}

p {
    font-family: "Raleway", Arial, serif;
    font-weight: normal;
    color: white;
}

a {
    font-family: "Raleway", Arial, serif;
    color: white;
    font-size: 1.2rem;
}

html {
    background-color: #121212;
}

/* background colors, etc */
body {
    margin: 0;
}

/* Header 1 */
h1 {
    font-size: 2.75rem;
    font-weight: 800;
    line-height: 1.125;
    margin-bottom: 1rem;
    margin-top: 2rem;
    color: #BB86FC;
}

/* Header 2 */
h2 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.125;
    color: #BB86FC;
}

/* Header 3 */
h3 {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 1.125;
    color: #BB86FC;
}

/* Header 4 */
h4 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
}

/* Header 5 */
h5 {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1.125;
}

/* Header 6 */
h6 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.125;
}

/* Paragraph */
p {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 400;
}

/* Don't ask why but this makes bold text work */
strong {
    color: white;
}

/* Turn margins back on cause CSS */

.margins {
    margin: 1.6rem;
}

/* Blackbox navbar shenangians */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: rgb(34, 34, 34);*/
    background-color: #222222;
    width: 100%
}

.navbar li {
    float: left;
}

.navbar li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 1rem 1.2rem;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #2c2c2c;
    border-bottom: solid 3px #BB86FC;
}

.navbar a.active {
    border-bottom: solid 3px #BB86FC;
}

blockquote {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
}

li {
    color:white;
    margin-left: 1.5em;
    font-family: "Raleway", Arial, serif;
}

code {
    background-color: #2c2c2c;
    color: #03DAC6;
    border-radius: 0.25rem;
    font-family: 'Source Code Pro', monospace;
}

/* Align icons to the far right of the page*/
.icon-align-right {
    float: right;
    padding-left: 1rem;
}

/* Create seperate colored reason with large bold text for the header with no margins */
.header {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.125;
    background-color: #BB86FC;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
}

/* Change color of h1 to black and disable their top margin inside divs with the header class */
.header h1 {
    color: #121212;
    margin-top: 0;
    padding-top: 1em;
}

.header h3 {
    color: #121212;
    margin-top: 0;
}

.header strong {
    font-family: "Raleway", Arial, serif;
    color: #121212;
    font-size: 1.5rem;
}

.header p {
    color: #121212;
    font-size: 1.5rem;
}

.projects li {
    clear: right;
}