@charset "utf-8";

// Import Bulma's variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// External Imports
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

// Alter the colors

$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;

// Update the sans-serif font family
$family-sans-serif: "Raleway", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma

@import "../node_modules/bulma/bulma";
